<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rem lore | Verify your email</title>
</head>

<body>
  <h2>hello {{ email }}</h2>
  <p>to confirm your email click the button</p>
  <p>{{verifyLink}}</p>
  <a href="{{ verifyLink }}">Verify</a>
</body>

</html>